<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스를 기재한다. -->
<mapper namespace="com.edu.mapper.FreeboardMapper">

	<!-- 게시글 작성 -->
	<insert id="writer" parameterType="com.edu.domain.FreeboardDTO">
	INSERT	INTO freeboard
			(WRITER, TITLE, CONTENT, writeDate, category) 
	VALUES	(#{writer}, #{title}, #{content}, SYSDATE(), #{category} )
	</insert>
	
	<!-- 게시글 작성 
	<insert id="writer">
	INSERT	INTO freeboard
			(WRITER,	title, 		CONTENT,	writeDate), 
	VALUES	(#{writer},	#{title},	#{content},	SYSATE())
	</insert>-->

	<!-- 게시글 목록 -->	
	<select id="boardList" resultType="com.edu.domain.FreeboardDTO">
	SELECT	*
	FROM	freeboard
	ORDER BY boardNo DESC
	</select>
	
	<!-- 게시글 상세 보기 -->
	<select id="boardDetail" resultType="com.edu.domain.FreeboardDTO">
	SELECT 	* 
	FROM 	freeboard 
	WHERE 	boardNo = #{boardNo} 
	</select>
	
	<!-- 게시글 조회수 증가 -->
	<update id="addViews">
	UPDATE 	freeboard 
	SET 	views = views + 1 
	WHERE 	boardNo = #{boardNo} 
	</update>

	<!-- 게시글 수정 -->
	<update id="boardUpdate">
	UPDATE 	freeboard 
	SET 	title=#{title}, content=#{content}
	WHERE 	boardNo = #{boardNo} 
	</update>
	
	<!-- 게시글 삭제 -->
	<select id="boardDelete">
	DELETE	FROM freeboard 
	WHERE 	boardNo = #{boardNo} 
	</select>
	

</mapper>